{% extends "emp_base.html" %}

{% block main %}

<div class="card shadow m-2">
    <div class="card-body">
        <a href="{% url 'my_experience' %}" class="btn btn-primary float-right btn-sm">
            View Work Experience
        </a>
        <h5 class="p-2 text-danger" style="border-bottom: 2px solid orange;">Edit Work Experience</h5>

        <div class="container-fluid">
            <form method="post">
                {% csrf_token %}
                <table class="table table-bordered">
                    <!-- First Company -->
                    <tr>
                        <th>First Company Name</th>
                        <td>
                            <input type="text" name="company1name" class="form-control" 
                                   value="{{ experience.company1name|default:'' }}">
                        </td>
                    </tr>
                    <tr>
                        <th>First Job Designation</th>
                        <td>
                            <input type="text" name="company1desig" class="form-control" 
                                   value="{{ experience.company1desig|default:'' }}">
                        </td>
                    </tr>
                    <tr>
                        <th>First Job Salary</th>
                        <td>
                            <input type="text" name="company1salary" class="form-control" 
                                   value="{{ experience.company1salary|default:'' }}">
                        </td>
                    </tr>
                    <tr>
                        <th>First Job Duration</th>
                        <td>
                            <input type="text" name="company1duration" class="form-control" 
                                   value="{{ experience.company1duration|default:'' }}">
                        </td>
                    </tr>

                    <!-- Second Company -->
                    <tr>
                        <th>Second Company Name</th>
                        <td>
                            <input type="text" name="company2name" class="form-control" 
                                   value="{{ experience.company2name|default:'' }}">
                        </td>
                    </tr>
                    <tr>
                        <th>Second Job Designation</th>
                        <td>
                            <input type="text" name="company2desig" class="form-control" 
                                   value="{{ experience.company2desig|default:'' }}">
                        </td>
                    </tr>
                    <tr>
                        <th>Second Job Salary</th>
                        <td>
                            <input type="text" name="company2salary" class="form-control" 
                                   value="{{ experience.company2salary|default:'' }}">
                        </td>
                    </tr>
                    <tr>
                        <th>Second Job Duration</th>
                        <td>
                            <input type="text" name="company2duration" class="form-control" 
                                   value="{{ experience.company2duration|default:'' }}">
                        </td>
                    </tr>

                    <!-- Third Company -->
                    <tr>
                        <th>Third Company Name</th>
                        <td>
                            <input type="text" name="company3name" class="form-control" 
                                   value="{{ experience.company3name|default:'' }}">
                        </td>
                    </tr>
                    <tr>
                        <th>Third Job Designation</th>
                        <td>
                            <input type="text" name="company3desig" class="form-control" 
                                   value="{{ experience.company3desig|default:'' }}">
                        </td>
                    </tr>
                    <tr>
                        <th>Third Job Salary</th>
                        <td>
                            <input type="text" name="company3salary" class="form-control" 
                                   value="{{ experience.company3salary|default:'' }}">
                        </td>
                    </tr>
                    <tr>
                        <th>Third Job Duration</th>
                        <td>
                            <input type="text" name="company3duration" class="form-control" 
                                   value="{{ experience.company3duration|default:'' }}">
                        </td>
                    </tr>
                </table>

                <!-- Submit button -->
                <div class="text-center">
                    <button type="submit" class="btn btn-success px-4">Save Experience</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}

